.taskminister-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    /*margin-bottom: 15px;*/
    height: 55px;

    border-bottom: 1px solid gray;
}

.tmbar-links {
    font-size: 16px;
    font-weight: bold;
    color: #808B96;
    padding-right: 20px;
    padding-left: 20px;
}

.tmbar-logo {
    padding-right: 30px;
}

