body {
    background-image: url("../../img/wp/wall_car_low.jpg");
    /*background-color: black;*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

bodyContent-bg {
    width: 100%;
    height: auto;
    padding-top: 55px;
    padding-bottom: 30px;
    background-image: url("../../img/wp/wall_city_low.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: orange;
}

.playlistInfo-btn {
    float: left;
    /* margin-top: 20px;
  margin-bottom: 20px; */
}

.title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.playlist-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.playlist {
    width: 400px;
}

.playlistInfo-box {
    width: 430px;
    visibility: hidden;
}

.playlistInfo {
    color: white;
    font-size: 12px;
    width: 100%;
}

.upLogBox {
    position: fixed;
    width: 400px;
    left: 50px;
    bottom: 50px;
}

.upLog {
    background-color: transparent;
    /* color: #f222ff; */
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    border: none;
    pointer-events: none;
}

.upFile {
    background-color: #000000;
    border: 2px solid #2a3f6a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    padding: 10px 10px;
    text-decoration: none;
}

    .upFile:hover {
        background-color: #3c345c;
    }

    .upFile:active {
        position: relative;
        top: 1px;
    }

.upFileSend {
    background-color: #000000;
    border: 2px solid #2a3f6a;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    padding: 10px 10px;
    text-decoration: none;
    width: auto;
    height: 48px;
}

    .upFileSend:hover {
        background-color: #3c345c;
    }

    .upFileSend:active {
        position: relative;
        top: 1px;
        height: 48px;
    }

.form-musik {
    width: 385px;
    font-size: 12px;
    color: white;
    margin-top: 20px;
    /* background-color: gray; */

    margin-right: 0px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 50px;
}

.form-musik-row {
    display: flex;
    flex-direction: column;
}

.form-musik-main {
    width: 374px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #2a3f6a;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    /* font-family: "Acme", sans-serif; */
}

.musik-margin {
    margin-bottom: 5px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

/* Progress bar */

.pLabelBox {
    width: 374px;
    height: 30px;
}

.pLabel {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    /*color: #808B96;*/
    text-align: center;
    /*text-shadow: 1px 1px 2px white;*/
}

.getInfoBtn {
    background-color: #000000;
    border: 2px solid #2a3f6a;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    padding: 10px 10px;
    text-decoration: none;
    width: auto;
    height: 48px;
}

    .getInfoBtn:hover {
        background-color: #3c345c;
    }

    .getInfoBtn:active {
        position: relative;
        top: 1px;
        height: 48px;
    }
