body {
    background-image: url("../../img/wp/wall_city_low.jpg");
    /*background-color: black;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}

.bodyContent {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.bodyContent-bg {
    width: 100%;
    height: auto;
    padding-top: 55px;
    padding-bottom: 30px;
    
    background-image: url("../../img/wp/wall_city_low.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: orange;
}

.infoBox {
    position: fixed;
    width: 200px;
    left: 50px;
    bottom: 100px;
    font-size: 12px;
    color: white;
    /* opacity: 0.8; */
    /* background-color: orange; */
}

.infoData {
    color: yellow;
    background-color: transparent;
}

/* video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
} */
